/* Основной контейнер страницы */
.container {
    width: 80%; /* Ширина контейнера */
    margin: 0 auto; /* Центрирование по центру экрана */
    display: flex; /* Флексбокс для выравнивания дочерних элементов */
    flex-wrap: wrap; /* Разрешение переноса элементов на новую строку */
}

/* Секция погоды */
.weather-section {
    flex: 1 1 60%; /* Гибкость для адаптивного дизайна */
    margin-right: 20px; /* Отступ справа между секциями */
    padding: 20px; /* Внутренний отступ внутри секции */
    background-color: #f0f0f0; /* Цвет фона */
    border-radius: 8px; /* Закругление углов */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень блока */
}

/* Секция автозаполнения */
.autocomplete-section {
    flex: 1 1 30%; /* Гибкость для адаптивного дизайна */
    padding: 0px; /* Внутренний отступ внутри секции */
    background-color: #f9f9f9; /* Цвет фона */
    border-radius: 8px; /* Закругление углов */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень блока */
}

/* Боковая панель */
.sidebar {
    flex: 0 0 100%; /* Боковая панель занимает всю доступную ширину в строке */
    margin-top: 20px; /* Отступ сверху от предыдущего блока */
    padding: 20px; /* Внутренний отступ внутри сайдбара */
    background-color: #f0f0f0; /* Цвет фона */
    border-radius: 8px; /* Закругление углов */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень блока */
}

/* Стилизация заголовков */
h1, h2, h3 {
    color: #333; /* Цвет текста */
    margin-bottom: 10px; /* Отступ снизу у заголовков */
}

/* Стилизация формы */
form {
    margin-bottom: 20px; /* Отступ снизу у формы */
}

/* Стилизация списка в боковой панели */
.sidebar ul {
    list-style-type: none; /* Убираем маркеры у списка */
    padding: 0; /* Убираем отступы внутри списка */
}

/* Стилизация элементов списка в боковой панели */
.sidebar ul li {
    margin-bottom: 5px; /* Отступ снизу между элементами списка */
}